body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.education-entry h3 {
  padding-left: 0;
}

h1 {
  font-size: 40px;
  color: #9ed856;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.role {
  color: #fff;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  word-wrap: break-word;
}

.link-modified {
  margin: 0;
  display: inline;
  padding: 5px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #9ed856;
  display: none;
}

.orange {
  background-color: #9ed856;
}

.orange-text {
  color: #9ed856;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #212934;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item {
  margin-bottom: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  width: 100%;
}

.biopic-container {
  margin: 0 auto;
  padding: 10px;
  width: 200px;
}

img {
  max-width: 100%;
  height: auto;
}

.projectpic-container {
  padding: 10px;
  max-width: 256px;
  height: 256px;
  float: left;
}

.clear-biopic,
.clear-projectpic {
  clear: both;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

#topContacts .flex-item {
  text-align: center;
}

#workExperience,
#projects {
  padding: 20px 0 30px;
}

#education {
  padding: 20px 0 40px;
}

#footerContacts {
  background-color: #212934;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding: 20px 0 90px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic-container {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  #name,
  .role {
    display: block;
    text-align: center;
  }

  .biopic-container {
    width: 150px;
  }

  #skills .flex-item {
    text-align: center;
  }

  .welcome-message {
    display: none;
  }

  .location-text {
    display: none;
  }
}

@media only screen and (max-width: 610px) {
  .center-content {
    padding-top: 7.5%;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic-container {
    display: block;
  }

  .biopic-container {
    float: left;
  }

  .clear-biopic {
    display: none;
  }
}
